<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--<add name="iBandEntities" connectionString="metadata=res://*/iBand.csdl|res://*/iBand.ssdl|res://*/iBand.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RIYUUS-PC\MSSQLSERVER2008;initial catalog=iBand;persist security info=True;user id=sa;password=riyaz542;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--HATIM-PC--><!--<add name="WalletsEntities" connectionString="metadata=res://*/WalletModel.csdl|res://*/WalletModel.ssdl|res://*/WalletModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ISYSSERVER87\PAYIT;initial catalog=Wallets;persist security info=True;user id=sa;password=shareef;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="PayitMerchantsnWalletsEntities" connectionString="metadata=res://*/PayitMerchantsModel.csdl|res://*/PayitMerchantsModel.ssdl|res://*/PayitMerchantsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ISYSSERVER87\PAYIT;initial catalog=PayitMerchantsnWallets;persist security info=True;user id=sa;password=shareef;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WalletsEntities" connectionString="metadata=res://*/WalletModel.csdl|res://*/WalletModel.ssdl|res://*/WalletModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ISYSSERVER87\PAYIT;initial catalog=Wallets;persist security info=True;user id=sa;password=shareef;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="iBandEntities" connectionString="metadata=res://*/iBand.csdl|res://*/iBand.ssdl|res://*/iBand.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ISYSSERVER87\PAYIT;initial catalog=iBand;persist security info=True;user id=sa;password=shareef;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>